.container {
  background-color: #13131a;
  display: flex;
  margin: 15px;
}

.navbar{
  width: 100%;
}

.campaigns_wrap{
  margin-left: 30px;
  height: 100%;
  width: 100%;
}

.heading{
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin: 15px;
}

.cards_bag{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 30px;
}

.no_result{
  color: #818183;
  text-align: center;
}

.loader{
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: auto;
}


